* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}


#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.canvas-container {
  width: 100vw;
  height: 100vh;
}

button {
  padding: 1em;
  cursor: pointer;
  position: fixed;
  top: 50%;
}

button.left {
  left: 3em
}

button.right {
  right: 3em
}